Backup/samples/WinForms/Web References/SchematronWS/ValidatedWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://aspnet2.com/kzu" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://aspnet2.com/kzu" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://aspnet2.com/kzu">
      <s:element name="BatchInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="orders">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BatchInsertResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </types>
  <message name="BatchInsertSoapIn">
    <part name="parameters" element="s0:BatchInsert" />
  </message>
  <message name="BatchInsertSoapOut">
    <part name="parameters" element="s0:BatchInsertResponse" />
  </message>
  <portType name="ValidatedWSSoap">
    <operation name="BatchInsert">
      <input message="s0:BatchInsertSoapIn" />
      <output message="s0:BatchInsertSoapOut" />
    </operation>
  </portType>
  <binding name="ValidatedWSSoap" type="s0:ValidatedWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="BatchInsert">
      <soap:operation soapAction="http://aspnet2.com/kzu/BatchInsert" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="ValidatedWSSoap12" type="s0:ValidatedWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
    <operation name="BatchInsert">
      <soap12:operation soapAction="http://aspnet2.com/kzu/BatchInsert" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </input>
      <output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </output>
    </operation>
  </binding>
  <service name="ValidatedWS">
    <port name="ValidatedWSSoap" binding="s0:ValidatedWSSoap">
      <soap:address location="http://localhost/SchematronWS/ValidatedWS.asmx" />
    </port>
    <port name="ValidatedWSSoap12" binding="s0:ValidatedWSSoap12">
      <soap12:address location="http://localhost/SchematronWS/ValidatedWS.asmx" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
    </port>
  </service>
</definitions>